// .shopping{
//    position:relative;
// }
.items-in-cart-blog{
   padding-top: 2px;
   text-align: center;
   background-color:#A4F1DC ;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   font-family: "Poppins";
   font-weight: bold;
   font-size: 0.4rem;
   position:absolute;
   right: -7px;
   bottom: 44px;
}

.blog-title {
   font-size: 2rem;
   width: 64%;
   margin: 0 auto;
   text-align: center;
   padding: 48px 0 28px 0;
   font-weight: bold;
}

.blog-title + p {
   text-align: center;
   font-family: "Poppins";
   font-size: 0.8rem;
}

.blog-sub-header,
.comments h4 {
   font-family: "Playfair Display";
   font-weight: bold;
   padding-left:4px;
   margin-right: 20px;
}

.blog-profile {
   display: flex;
   align-items: center;
   margin-left: 21px;
   justify-content: space-between;
   width: 25%;
}

.blog-info {
   display: flex;
   justify-content: space-between;
   margin: 30px 34px 4px 0;
   align-items: center;
}

.blog-info p {
   font-weight: bold;
}


.blog-img1 {
   border-radius: 80%;
   height: 80px;
}

.blog-break {
   width: 94%;
   border-top: 1px solid #CCCCCC;
   margin: 0 auto;
}

.blog-article {
   margin: 30px 22px;
}

.blog-article p {
   padding-bottom: 23px;
}

.blog-social-icons{
   display:flex;
   justify-content: space-between;
   width: 16%;
   margin-top:40px;
   
}

.blog-social-icons a{
   width: 40px;
   height: 40px;
}

.fab.media {
   margin-left: 15px;
   font-size: 1.2rem;
   color: rgb(204, 204, 204);
}

.fab.media:hover{
   color:#A4F1DC;
   font-size: 1.8rem;
   transform: translate(0 -40px);
   transition: all 0.5s
}

.posts h2 {
   font-size: 1.6rem;
   margin-left: 34px;
   margin-bottom: 5px;
}

.posts-images {
   display: flex;
   width: 100%;
   height: 338;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top:30px
}

.post-img1,
.post-img2,
.post-img3 {
   width: 30%;
   padding: 10px;
   background-color:white;
   -webkit-box-shadow: 14px 18px 17px -25px rgba(0,0,0,1);
   -moz-box-shadow: 14px 18px 17px -25px rgba(0,0,0,1);
   box-shadow: 14px 18px 17px -25px rgba(0,0,0,1);
   justify-content: space-around;
}

.post-img1:hover,
.post-img2:hover,
.post-img3:hover {
   width: 31%;
   -webkit-box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
   -moz-box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
   box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
   transition: all 0.5s;
}

.post-img1{
   margin-left: 20px;
}
.post-img3{
   margin-right: 25px;
}

.posts-images img {
   max-width: 100%;
}


.post-date,
.continue{
   margin: 12px 0 0 11px;
   color:#CCCCCC;
   font-family: "Poppins";
   font-size:0.7rem;
}

.continue{
   color:black;
   margin: 40px 0 0 15px ;
   padding-bottom: 10px;
}

.continue:hover{
   font-size:1rem;
   transition: all 1s;
   font-weight: bold;
}

.posts-images h4{
   line-height: 19px;
   font-family: "Playfair Display";
   font-weight: bold;
   margin: 10px 0 7px 10px;
}

.comments h4 {
   font-size: 2rem;
   padding: 50px 0 20px 30px;
}

.intouch h5 {
   margin: 0 0 22px 31px;
   padding-top: 56px;
}

.intouch.blog form{
   margin-left: 22px;
}

.leave-comment {
   margin-left: 21px;
}

.contact-page-form {
   margin-top: 37px;
}

.contact-button-blog{
   margin:0;
   padding:15px 20px;
   background-color:#84A016;
   width: 30%;
   color:white;
   text-transform: uppercase;
   margin-bottom: 30px;
   margin-top:25px;
   font-family: "Poppins";
   font-size: 0.9rem;
}
.contact-button-blog:hover{
   color:black;
}

textarea {
   width: 97%;
   color: #999999;
   border: none;
   resize: none;
   font-family: "Poppins";
   font-size: 0.7rem;
   border-bottom: 1px solid #999999;
}




.tip {
   width: 0px;
   height: 0px;
   position: absolute;
   background: transparent;
   border: 10px solid #EDEDED;
}

.tip-left {
   top: 10px;
   left: -21px;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: transparent;  
}

.dialogbox .body {
   position: relative;
   width: 84%;
   height: 93px;
   margin: 20px 10px;
   padding: 5px;
   background-color:rgb(237, 237, 237);
   border-radius: 3px;
   border: 5px solid rgb(237, 237, 237);
   font-family: "Poppins";
   color: rgb(153, 153, 153)
}

.dialogbox.one,
.dialogbox.two{
   display: flex;
   align-self: center;
}

.blog-profile {
   align-self: center;
   width: 9%;
   margin-bottom:27px;
   padding-right:10px;
}

.reply{
   color:#A4F1DC;
   font-style: italic;
}

.blog-profile-title{
   padding-top:7px;
   color:black;
}

.blog-profile-text{
   font-size: 0.8rem;
   padding-top:8px;
}

.date{
   font-size: 0.7rem;
   padding-top:14px;
}

