.items-in-cart-contact{
   padding-top: 2px;
   text-align: center;
   background-color:#A4F1DC ;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   font-family: "Poppins";
   font-weight: bold;
   font-size: 0.4rem;
   position:absolute;
   right: -7px;
   bottom: 45px;
}

.titles-contact-page {
   font-size: 2rem;
}

.titles-contact-page + p {
   width: 50%;
   padding: 15px 0 15px;
   line-height: 17px;
}

.contact-page-main,
.get-in-touch {
   font-family: "Poppins";
   font-size: 0.6rem;
   margin: 100px 0 0 50px;
}

.contact-details {
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
   color: rgb(153, 153, 153);
   line-height: 15px;
}

.contact-details + p {
   line-height: 25px;
}

.titles-contact-page + p {
   color: rgb(153, 153, 153);
}

h5 {
   font-family: "Playfair Display";
   font-weight: bold;
   font-size: 0.9rem;
   margin-bottom: 8px;
   color: black;
}

.right-break,
.right-break-two{
   border-right: 1px solid #EDEDED;
   height: 120px;
}

.contact-details i {
   font-size: 1.7rem;
   margin-bottom: 15px;
   color: black;
}

.contact-page-form {
   margin-right: 36px;
}

fieldset {
   justify-content: space-around;
   margin-bottom: 30px;
}

input[type="text"]{
   font-family: "Poppins"

}

input[type="email"].email{
   padding:0;
   margin-left: 21px;
   margin-right: 21px;
}

input {
   width: 30%;
}

.message {
   padding-bottom: 135px;
   width: 97%;
   margin-left: 14px;
}

.contact-button {
   margin-left: 11px;
   background: transparent;
   border: none;
   border-bottom: 1px solid #999999;
   margin: 25px;
   text-transform: uppercase;
   font-family: "Poppins";
   font-weight: bold;
}

.contact-button:hover{
   color:#999999;

}

input[type="text"] {
   font-size: 0.7rem;
}
