
@media (max-width: 1111px) {

   .package {
      padding: 110px 40px 40px;
   }

   .section2-image {
      flex: 1 1 200px;
      align-self: center;
   }

   .round-text {
      width: 31%;
      bottom: -38px;
      left: -7%;
   }

   .package{
      width: 100%;
      padding-top: 50px;
      justify-content: space-evenly;
   }

   .section-img-w {
      display: inline-block;
      width: 100%;
   }

   .section2-image {
      display: none;
   }

}




@media (max-width: 900px) {

   .beach{
      background-position-x: -369px;
      transition: all 0.5s
   }

   .surfer{
      background-position-x: -269px;
      transition: all 0.5s;
   }


   .about-flex {
      display: inline;
   }

   .about-image {
      text-align: center;
   }

   .about-content {
      width: 90%;
      margin: 0 auto;
   }

   .about-content h2{
      text-align: center;
      width: 100%;
      padding-top: 32px;
   }


   .about-image .selfie {
      text-align: center;
      width: 33%;
   }

   .round-text {
      width: 11%;
      bottom: -31px;
      left: 30%;
   }

   .main-main-page {
      padding-bottom: 90px;
   }


   .section2 .content {
      font-size: 0.8rem;
      line-height: 21px;
      width: 100%;
   }


   .testimonials-child {
      padding-top: 36px;
   }

   .contact-child-two h2 {
      margin-bottom: 28px;
   }

   .posts-images{
      display: inline-block;
      margin-top:0;
   }

   .post-img1, .post-img2, .post-img3{
      margin: 0 auto;
      width: 55%;
      margin-top: 30px
   }

.post-img1:hover,
.post-img2:hover,
.post-img3:hover{
   width: 55%;
   -webkit-box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
   -moz-box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
   box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
   transition: all 0.5s;
}


   .blog-profile{
      display:block;
   }

   .blog-sub-header{
      text-align: center;
      margin: 0 auto;
      margin-top: 5px;
   }
   .contact-button-blog{
      width: 36%;
   }

}

@media (max-width: 776px) {

   .island{
      background-position-x: -208px;
      transition: all 0.5s
   }

   .surfer{
      background-position-x: -379px;
      transition: all 0.5s;
   }

   .section2-image {
      flex: 0 0 400px;
   }

   .contact-image {
      width: 100%;
   }

   .contact-child-two p {
      margin-top: 16px;
   }

   .testimonials-child {
      height: auto;
   }

   .testimonials-child h2 {
      margin: 10px 0 10px 0;
      font-size: 2.3rem;
   }

   .review {
      font-size: 0.9rem;
   }

   .gallery-flex img {
      width: 42%;
   }

   .blog-break{
      width: 77%;
   }


   fieldset{
      flex-wrap: wrap;
      margin-bottom: 0;
   }

   input[type="email"], input[type="text"]{
      padding:0
   }

   fieldset input{
      width: 70%;
      margin-bottom:34px;
      
   }

      form {
      margin-top: 34px;
      text-align: center;
   }

   .blog-title{
      width: 50%;
   }

   .button-image{
      right:-12px;
      top:18px;
   }

   .p-footer{
      margin-bottom:6px
   }



}

@media (max-width: 663px) {

   .island{
      background-position-x: -338px;
      transition: all 0.5s
   }

   .beach{
      background-position-x: -500px;
      transition: all 0.5s;
   }
   .nav .titles {
      padding: 20px 0;
   }

   .main1,
   .main2 {
      display:none;
   }

   .nav .titles {
      font-size: 2.5rem;
      margin: 0;
   }

   .about-image .selfie {
      width: 45%;
   }

   .about-content h2 {
      font-size: 2rem;
   }

   .round-text {
      width: 16%;
      bottom: -30px;
      left: 23%;
   }

   .package {
      padding: 50px 0 40px 6px;
   }
   .package li {
      width: 80%;
   }

   .about-content p {
      font-size: 0.8rem;
   }

   .section2-image {
      overflow: hidden;
      position: absolute;
      left: -999px;
   }

   .section2 {
      display: block;
   }

   .testimonials-child {
      padding: 30px;
   }

   .testimonials-child h2 {
      font-size: 2rem;
   }

   .gallery-child h2 {
      font-size: 3rem;
      margin-bottom: 13px;
   }

   .gallery-flex img {
      width: 95%;
   }

   .sub-header {
      font-size: 0.9rem;
   }

   .contact-image {
      overflow: hidden;
      position: absolute;
      left: -999px;
   }

   .contact-image2 {
      display: block;
      width: 100%;
   }

   .review {
      padding: 0;
   }

   .footer-break {
      filter: opacity(0);
   }

   .footer-copyright {
      padding-bottom: 0px;
   }

   .footer-content {
      flex-wrap: wrap;
   }

   .footer-one,
   .footer-two {
      width: 50%;
      text-align: center;
   }

   .footer-content li {
      font-size: 0.9rem;
   }

   .footer-three {
      width: 60%;
   }

   form .p-footer {
      font-size: 0.9rem;
   }


   .social-footer li {
      font-size: 0.9rem;
   }

   .button-image {
      right: 0;
      bottom:0;
   }

   .contact-details {
      flex-direction: column;
      line-height: 15px;
      text-align: center;
      
   }

   .contact-break {
      display: block;
      border-bottom: .5px solid #CCCCCC;
      width: 64%;
      margin: 0 auto;
   }

   .contact-details i {
      font-size: 3rem;
   }

   .contact-details h5{
      font-size: 1.2rem;
      margin-bottom: 14px;
   }

   .contact-details div{
      margin-bottom: 30px;
   }

   .contact-details p{
      font-size: 0.7rem;
   }

   .get-in-touch{
      margin-top:50px;
      margin-left: 0;
   }
   .intouch p {
      margin: 0 auto;
   }

   .intouch h5{
      margin-left:0;
      text-align:center
   }

   .contact-page-main{
      margin-left:0;
   }

   .contact-page-main h4{
      text-align: center;

   }

   .contact-page-main p {
      font-size: 0.7rem;
      line-height: 20px;
      text-align: center;
      margin: 0 auto;
   }

   .dialogbox .body{
      width: 78%;
      height: 105px;
   }

   .blog-info .blog-profile {
      width: 100%;
   }

   .blog-profile{
      width: 15%;
   }

   .blog-profile-text{
      font-size: 0.7rem;
   }

   .blog-info {
      flex-wrap: wrap;
      text-align: center;
      margin-right: 30px;
      margin-left: 30px;
   }

   .post-img1, 
   .post-img2, 
   .post-img3{
      width: 76%;
   }

   .post-img1:hover,
   .post-img2:hover,
   .post-img3:hover{
      width: 76%;
      -webkit-box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
      -moz-box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
      box-shadow: 7px 15px 19px -17px rgba(0,0,0,0.66);
      transition: all 0.5s;
   }

   .blog-title{
      font-size: 1.7rem;
      width: 77%;
   }


   nav .titles{
      padding: 26px 0 26px 0;
   }

   .hamburger-nav{
   display:inline-block;
}

   .contact-button-blog{
      width: 70%;
   }

   textarea{
      margin-left: 23px;
   }

   .surfer{
      background-position-x: -576px;
      transition: all 0.5s;
   }

}

@media (max-width: 497px) {

   .beach{
      background-position-x: -670px;
      transition: all 0.5s;
   }

   .secondary-nav{
      width: 53%;
      right: -53%;
   }

   .about-content h2 {
      font-size: 1.7rem;
   }

   .about-content p {
      margin-top: 14px;
   }

   .about-image .selfie {
      width: 60%;
   }

   .round-text {
      width: 20%;
      bottom: -40px;
      left: 14%;
   }

   .testimonials-child {
      width: 89%;
   }

   .footer-three {
      width: 74%;
      margin-left: 39px;
   }

   .main-blog{
      width: 90%;
      left:5%;
   }

   .blog-title {
      font-size: 1.7rem;
      width: 87%;
   }

   .chevron-r{
      font-size: 2rem;
      right:3px;
   }

   .chevron-l{
      font-size: 2rem;
      left:3px;
   }

}


   @media (max-width: 416px) {

   nav .titles{
      margin-right: 74px;
      margin-left:0;
   }

   .titles-contact-page{
      font-size:1.8rem;
   }

   .nav .titles {
      margin-right: 54px;
   }

   .about-content h2 {
      font-size: 1.4rem;
      padding-top: 43px;
   }

   .about-content p {
      font-size: 0.9rem;
      text-align: center;
   }

   .contact-child-two {
      margin-left: 58px;
   }

   .contact-child-two .phone-number {
      font-size: 1.8rem;
   }

   .blog-info{
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 30px 0 20px 0;
   }

   .blog-profile{
      width: 26%;
   }

   .blog-profile-title{
      font-size: 0.8rem
   }

   .category{
      margin: 18px 0 18px 0;
   }

   .island{
      background-position-x: -432px;
      transition: all 0.5s;
   }

   .chevron-r,
   .chevron-l{
      font-size:1.7rem;
   }

   .surfer{
      background-position-x: -653px;
      transition: all 0.5s;
   }

}