a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.nav li {
  display: inline-block;
  font-family: "Playfair Display";
  font-weight: bold;
}

.content {
  font-family: "Poppins";
  font-weight: 400;
  color: #cccccc;
  font-size: 0.8rem;
}

.content.black {
  color: black;
}

.section2 .content {
  font-family: "Poppins";
  font-weight: 400;
  color: #cccccc;
  font-size: 0.6rem;
  padding-top: 15px;
  line-height: 18px;
}

.titles,
.titles-contact-page {
  font-family: "Playfair Display";
  font-weight: bold;
}

.sub-header {
  color: #999999;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
}

.package li {
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
}

span {
  color: black;
  font-weight: bold;
}

.hamburger-nav li {
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.burger-menu {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1.6rem;
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.main1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
}

.main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .titles {
  width: 30%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
  margin: 0 35px 0 35px;
}

header {
  background-image: url(../sunshineAssets/home-1.jpeg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.shopping {
  position: relative;
}

.items-in-cart {
  padding-top: 2px;
  text-align: center;
  background-color: #A4F1DC;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 0.4rem;
  position: absolute;
  right: -7px;
  bottom: 45px;
}

.island {
  background-image: url(../sunshineAssets/blog-1.jpeg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.surfer {
  background-image: url(../sunshineAssets/contact-1.jpeg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.background {
  background-color: #ededed;
  position: relative;
}

.main-blog {
  background: white;
  width: 80%;
  position: relative;
  top: -50px;
  left: 10%;
}

.nav li {
  padding: 50px 0 50px 0;
  font-size: 0.6rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Poppins";
  text-transform: uppercase;
}

.nav a:hover {
  color: #999999;
}

/*secondary nav*/
.hamburger-nav {
  display: none;
}

.secondary-nav {
  position: relative;
  background: transparent;
  position: fixed;
  z-index: 10;
  width: 40%;
  right: -40%;
  top: 96px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}

.secondary-nav li {
  font-family: "Poppins";
}

.slide-menu {
  color: black;
  font-size: 2rem;
  margin-top: 11px;
}

.secondary-nav a {
  border-bottom: 1px solid grey;
  display: inline-block;
  font-size: 40px;
  width: 100%;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul.secondary-nav a:hover,
ul.secondary-nav a:focus {
  background: #A4F1DC;
}

input[type="checkbox"]:checked + ul.secondary-nav {
  right: 0;
}

input[type="checkbox"] {
  display: none;
  position: absolute;
  left: -69px;
  top: -64px;
}

label[for="toggle"] {
  position: fixed;
  top: 10px;
  left: 10px;
  color: black;
  z-index: 10;
  margin-left: 20px;
  padding-left: 0;
}

.secondary-nav a {
  width: 100%;
  padding-top: 13px;
}

/*about with portrait image*/
.about-line {
  border-bottom: 1px solid black;
  width: 51px;
  margin-bottom: 10px;
}

.main-main-page {
  background-color: #ededed;
  padding-bottom: 180px;
}

main .sub-header {
  padding-top: 95px;
  text-align: center;
  margin-bottom: 38px;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-image .selfie {
  border: 14px solid white;
  width: 80%;
  height: auto;
}

.about-image {
  position: relative;
  height: 100%;
}

.round-text {
  position: absolute;
  width: 42%;
  bottom: -64px;
  left: -20%;
}

.about-content {
  width: 45%;
}

.about-content p {
  font-size: 0.7rem;
  margin-top: 33px;
  line-height: 24px;
  width: 100%;
  font-family: "Poppins";
}

.about-content h2 {
  font-size: 2.3rem;
  width: 70%;
  line-height: 45px;
}

/*amenities section*/
.section2 .content {
  text-transform: capitalize;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section2-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 510px;
          flex: 1 1 510px;
  min-width: 350px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hidden {
  display: none;
}

.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 177px 42px 108px 125px;
  width: 53%;
}

.package li {
  width: 40%;
}

.package i {
  font-size: 1.3rem;
  margin-left: -24px;
  padding-right: 8px;
}

.package li {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

/*gallery section*/
.gallery {
  background-image: url(../sunshineAssets/pattern.png);
}

.testimonials-parent {
  padding-top: 100px;
}

.testimonials-child {
  position: relative;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background-color: white;
  padding: 40px 50px;
  width: 68%;
  height: 378px;
  padding-top: 65px;
}

.testimonials-child .sub-header {
  margin-bottom: 28px;
}

.review {
  font-style: italic;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 15px;
  font-family: "Playfair Display";
  padding: 0 50px;
}

.testimonials-parent .fa-star {
  color: gold;
  margin-bottom: 20px;
}

.testimonials-child .content {
  font-family: "Poppins";
  font-size: 0.7rem;
}

.chevron-r {
  position: absolute;
  right: -50px;
  top: 49%;
  color: black;
  font-size: 2.3rem;
}

.chevron-l {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -45px;
  top: 49%;
  font-size: 2.3rem;
}

.chevron-l:hover,
.chevron-r:hover {
  color: #999999;
}

.grey {
  color: #cccccc;
  font-weight: 400;
  font-size: 0.7rem;
  font-family: "Poppins";
}

.gallery-child .sub-header {
  padding-top: 90px;
  text-align: center;
}

.gallery h2 {
  font-size: 2.8rem;
  text-align: center;
  margin: 30px 0 36px 0;
}

.gallery-flex {
  width: 100%;
  margin: auto 0;
  text-align: center;
  padding-bottom: 100px;
}

.gallery-flex img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  padding: 15px;
}

.contact-parent {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.contact-child-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 85px;
}

.contact-child-two h2 {
  margin: 21px 0 74px 0;
  text-align: left;
}

.info {
  margin-top: 80px;
  text-align: left;
}

.contact-image {
  width: 53%;
  height: auto;
}

.gray-text {
  color: #cccccc;
}

.contact-child-two h3 {
  font-size: 1.3rem;
  margin-bottom: 18px;
}

.contact-child-two p {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: #999999;
}

.email-text {
  margin: 20px 0 50px 0;
}

.contact-child-two .email-span {
  color: black;
  font-family: "Playfair Display";
  font-weight: bold;
}

.contact-child-two .phone-number {
  color: black;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*footer*/
footer {
  background-color: #211f1f;
  color: #999999;
}

footer li,
.p-footer,
label,
input[type="email"] {
  font-family: "Poppins";
  font-size: 0.7rem;
  padding: 7px;
}

.footer-content a:hover,
button i:hover {
  color: #EDEDED;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-break {
  width: 70%;
  border: 1px solid #999999;
  margin: 0 auto;
  margin-top: 10px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.social-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-footer li {
  padding: 10px;
}

button {
  background-color: none;
}

.button-image {
  background-color: #211f1f;
  color: #999999;
  border: none;
  margin: 10px;
  position: absolute;
  right: 1px;
}

.button-image i {
  font-size: 0.9rem;
}

button span {
  display: none;
}

form {
  position: relative;
}

input[type="email"],
input[type="text"] {
  color: black;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999999;
}

input[placeholder="Your email"] {
  color: #999999;
}

.footer-three input[type="email"] {
  width: 95%;
}

.footer-one a,
.footer-two a {
  color: #999999;
}

.items-in-cart-blog {
  padding-top: 2px;
  text-align: center;
  background-color: #A4F1DC;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 0.4rem;
  position: absolute;
  right: -7px;
  bottom: 44px;
}

.blog-title {
  font-size: 2rem;
  width: 64%;
  margin: 0 auto;
  text-align: center;
  padding: 48px 0 28px 0;
  font-weight: bold;
}

.blog-title + p {
  text-align: center;
  font-family: "Poppins";
  font-size: 0.8rem;
}

.blog-sub-header,
.comments h4 {
  font-family: "Playfair Display";
  font-weight: bold;
  padding-left: 4px;
  margin-right: 20px;
}

.blog-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 21px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 34px 4px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-info p {
  font-weight: bold;
}

.blog-img1 {
  border-radius: 80%;
  height: 80px;
}

.blog-break {
  width: 94%;
  border-top: 1px solid #CCCCCC;
  margin: 0 auto;
}

.blog-article {
  margin: 30px 22px;
}

.blog-article p {
  padding-bottom: 23px;
}

.blog-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16%;
  margin-top: 40px;
}

.blog-social-icons a {
  width: 40px;
  height: 40px;
}

.fab.media {
  margin-left: 15px;
  font-size: 1.2rem;
  color: #cccccc;
}

.fab.media:hover {
  color: #A4F1DC;
  font-size: 1.8rem;
  -webkit-transform: translate(0 -40px);
          transform: translate(0 -40px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.posts h2 {
  font-size: 1.6rem;
  margin-left: 34px;
  margin-bottom: 5px;
}

.posts-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 338;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.post-img1,
.post-img2,
.post-img3 {
  width: 30%;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 14px 18px 17px -25px black;
  box-shadow: 14px 18px 17px -25px black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post-img1:hover,
.post-img2:hover,
.post-img3:hover {
  width: 31%;
  -webkit-box-shadow: 7px 15px 19px -17px rgba(0, 0, 0, 0.66);
  box-shadow: 7px 15px 19px -17px rgba(0, 0, 0, 0.66);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.post-img1 {
  margin-left: 20px;
}

.post-img3 {
  margin-right: 25px;
}

.posts-images img {
  max-width: 100%;
}

.post-date,
.continue {
  margin: 12px 0 0 11px;
  color: #CCCCCC;
  font-family: "Poppins";
  font-size: 0.7rem;
}

.continue {
  color: black;
  margin: 40px 0 0 15px;
  padding-bottom: 10px;
}

.continue:hover {
  font-size: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-weight: bold;
}

.posts-images h4 {
  line-height: 19px;
  font-family: "Playfair Display";
  font-weight: bold;
  margin: 10px 0 7px 10px;
}

.comments h4 {
  font-size: 2rem;
  padding: 50px 0 20px 30px;
}

.intouch h5 {
  margin: 0 0 22px 31px;
  padding-top: 56px;
}

.intouch.blog form {
  margin-left: 22px;
}

.leave-comment {
  margin-left: 21px;
}

.contact-page-form {
  margin-top: 37px;
}

.contact-button-blog {
  margin: 0;
  padding: 15px 20px;
  background-color: #84A016;
  width: 30%;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 25px;
  font-family: "Poppins";
  font-size: 0.9rem;
}

.contact-button-blog:hover {
  color: black;
}

textarea {
  width: 97%;
  color: #999999;
  border: none;
  resize: none;
  font-family: "Poppins";
  font-size: 0.7rem;
  border-bottom: 1px solid #999999;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #EDEDED;
}

.tip-left {
  top: 10px;
  left: -21px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  width: 84%;
  height: 93px;
  margin: 20px 10px;
  padding: 5px;
  background-color: #ededed;
  border-radius: 3px;
  border: 5px solid #ededed;
  font-family: "Poppins";
  color: #999999;
}

.dialogbox.one,
.dialogbox.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.blog-profile {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 9%;
  margin-bottom: 27px;
  padding-right: 10px;
}

.reply {
  color: #A4F1DC;
  font-style: italic;
}

.blog-profile-title {
  padding-top: 7px;
  color: black;
}

.blog-profile-text {
  font-size: 0.8rem;
  padding-top: 8px;
}

.date {
  font-size: 0.7rem;
  padding-top: 14px;
}

.items-in-cart-contact {
  padding-top: 2px;
  text-align: center;
  background-color: #A4F1DC;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 0.4rem;
  position: absolute;
  right: -7px;
  bottom: 45px;
}

.titles-contact-page {
  font-size: 2rem;
}

.titles-contact-page + p {
  width: 50%;
  padding: 15px 0 15px;
  line-height: 17px;
}

.contact-page-main,
.get-in-touch {
  font-family: "Poppins";
  font-size: 0.6rem;
  margin: 100px 0 0 50px;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  color: #999999;
  line-height: 15px;
}

.contact-details + p {
  line-height: 25px;
}

.titles-contact-page + p {
  color: #999999;
}

h5 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: black;
}

.right-break,
.right-break-two {
  border-right: 1px solid #EDEDED;
  height: 120px;
}

.contact-details i {
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: black;
}

.contact-page-form {
  margin-right: 36px;
}

fieldset {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

input[type="text"] {
  font-family: "Poppins";
}

input[type="email"].email {
  padding: 0;
  margin-left: 21px;
  margin-right: 21px;
}

input {
  width: 30%;
}

.message {
  padding-bottom: 135px;
  width: 97%;
  margin-left: 14px;
}

.contact-button {
  margin-left: 11px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999999;
  margin: 25px;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: bold;
}

.contact-button:hover {
  color: #999999;
}

input[type="text"] {
  font-size: 0.7rem;
}

.contact-background-two {
  background-image: url(../sunshineAssets/contact-2.jpeg);
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-top: 50px;
}

@media (max-width: 1111px) {
  .package {
    padding: 110px 40px 40px;
  }
  .section2-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .round-text {
    width: 31%;
    bottom: -38px;
    left: -7%;
  }
  .package {
    width: 100%;
    padding-top: 50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-img-w {
    display: inline-block;
    width: 100%;
  }
  .section2-image {
    display: none;
  }
}

@media (max-width: 900px) {
  .about-line {
    display: none;
  }
  .beach {
    background-position-x: -369px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .surfer {
    background-position-x: -269px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .about-flex {
    display: inline;
  }
  .about-image {
    text-align: center;
  }
  .about-content {
    width: 90%;
    margin: 0 auto;
  }
  .about-content h2 {
    text-align: center;
    width: 100%;
    padding-top: 32px;
  }
  .about-image .selfie {
    text-align: center;
    width: 33%;
  }
  .round-text {
    width: 11%;
    bottom: -31px;
    left: 30%;
  }
  .main-main-page {
    padding-bottom: 90px;
  }
  .section2 .content {
    font-size: 0.8rem;
    line-height: 21px;
    width: 100%;
  }
  .testimonials-child {
    padding-top: 36px;
  }
  .contact-child-two h2 {
    margin-bottom: 28px;
  }
  .posts-images {
    display: inline-block;
    margin-top: 0;
  }
  .post-img1, .post-img2, .post-img3 {
    margin: 0 auto;
    width: 55%;
    margin-top: 30px;
  }
  .post-img1:hover,
  .post-img2:hover,
  .post-img3:hover {
    width: 55%;
    -webkit-box-shadow: 7px 15px 19px -17px rgba(0, 0, 0, 0.66);
    box-shadow: 7px 15px 19px -17px rgba(0, 0, 0, 0.66);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .blog-profile {
    display: block;
  }
  .blog-sub-header {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
  }
  .contact-button-blog {
    width: 36%;
  }
}

@media (max-width: 776px) {
  .contact-background-two {
    background-position-x: -133px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .island {
    background-position-x: -208px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .surfer {
    background-position-x: -379px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .section2-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
  .contact-image {
    width: 100%;
  }
  .contact-child-two p {
    margin-top: 16px;
  }
  .testimonials-child {
    height: auto;
  }
  .testimonials-child h2 {
    margin: 10px 0 10px 0;
    font-size: 2.3rem;
  }
  .review {
    font-size: 0.9rem;
  }
  .gallery-flex img {
    width: 42%;
  }
  .blog-break {
    width: 77%;
  }
  fieldset {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  input[type="email"], input[type="text"] {
    padding: 0;
  }
  fieldset input {
    width: 70%;
    margin-bottom: 34px;
  }
  form {
    margin-top: 34px;
    text-align: center;
  }
  .blog-title {
    width: 50%;
  }
  .button-image {
    right: -12px;
    top: 18px;
  }
  .p-footer {
    margin-bottom: 6px;
  }
}

@media (max-width: 663px) {
  .island {
    background-position-x: -338px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .beach {
    background-position-x: -500px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav .titles {
    padding: 20px 0;
  }
  .main1,
  .main2 {
    display: none;
  }
  .nav .titles {
    font-size: 2.5rem;
    margin: 0;
  }
  .about-image .selfie {
    width: 45%;
  }
  .about-content h2 {
    font-size: 2rem;
  }
  .round-text {
    width: 16%;
    bottom: -30px;
    left: 23%;
  }
  .package {
    padding: 50px 0 40px 6px;
  }
  .package li {
    width: 80%;
  }
  .about-content p {
    font-size: 0.8rem;
  }
  .section2-image {
    overflow: hidden;
    position: absolute;
    left: -999px;
  }
  .section2 {
    display: block;
  }
  .testimonials-child {
    padding: 30px;
  }
  .testimonials-child h2 {
    font-size: 2rem;
  }
  .gallery-child h2 {
    font-size: 3rem;
    margin-bottom: 13px;
  }
  .gallery-flex img {
    width: 95%;
  }
  .sub-header {
    font-size: 0.9rem;
  }
  .contact-image {
    overflow: hidden;
    position: absolute;
    left: -999px;
  }
  .contact-image2 {
    display: block;
    width: 100%;
  }
  .review {
    padding: 0;
  }
  .footer-break {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  .footer-copyright {
    padding-bottom: 0px;
  }
  .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-one,
  .footer-two {
    width: 50%;
    text-align: center;
  }
  .footer-content li {
    font-size: 0.9rem;
  }
  .footer-three {
    width: 60%;
  }
  form .p-footer {
    font-size: 0.9rem;
  }
  .social-footer li {
    font-size: 0.9rem;
  }
  .button-image {
    right: 0;
    bottom: 0;
  }
  .contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 15px;
    text-align: center;
  }
  .contact-break {
    display: block;
    border-bottom: .5px solid #CCCCCC;
    width: 64%;
    margin: 0 auto;
  }
  .contact-details i {
    font-size: 3rem;
  }
  .contact-details h5 {
    font-size: 1.2rem;
    margin-bottom: 14px;
  }
  .contact-details div {
    margin-bottom: 30px;
  }
  .contact-details p {
    font-size: 0.7rem;
  }
  .get-in-touch {
    margin-top: 50px;
    margin-left: 0;
  }
  .intouch p {
    margin: 0 auto;
  }
  .intouch h5 {
    margin-left: 0;
    text-align: center;
  }
  .contact-page-main {
    margin-left: 0;
  }
  .contact-page-main h4 {
    text-align: center;
  }
  .contact-page-main p {
    font-size: 0.7rem;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .contact-background-two {
    background-position-x: -204px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .dialogbox .body {
    width: 78%;
    height: 105px;
  }
  .blog-info .blog-profile {
    width: 100%;
  }
  .blog-profile {
    width: 15%;
  }
  .blog-profile-text {
    font-size: 0.7rem;
  }
  .blog-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
  }
  .post-img1,
  .post-img2,
  .post-img3 {
    width: 76%;
  }
  .post-img1:hover,
  .post-img2:hover,
  .post-img3:hover {
    width: 76%;
    -webkit-box-shadow: 7px 15px 19px -17px rgba(0, 0, 0, 0.66);
    box-shadow: 7px 15px 19px -17px rgba(0, 0, 0, 0.66);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .blog-title {
    font-size: 1.7rem;
    width: 77%;
  }
  nav .titles {
    padding: 26px 0 26px 0;
  }
  .hamburger-nav {
    display: inline-block;
  }
  .contact-button-blog {
    width: 70%;
  }
  textarea {
    margin-left: 23px;
  }
  .surfer {
    background-position-x: -576px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .right-break,
  .right-break-two {
    display: none;
  }
}

@media (max-width: 497px) {
  .beach {
    background-position-x: -670px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .secondary-nav {
    width: 63%;
    right: -63%;
  }
  .about-content h2 {
    font-size: 1.7rem;
  }
  .about-content p {
    margin-top: 14px;
  }
  .about-image .selfie {
    width: 60%;
  }
  .round-text {
    width: 20%;
    bottom: -40px;
    left: 14%;
  }
  .testimonials-child {
    width: 89%;
  }
  .footer-three {
    width: 74%;
    margin-left: 39px;
  }
  .main-blog {
    width: 90%;
    left: 5%;
  }
  .blog-title {
    font-size: 1.7rem;
    width: 87%;
  }
  .chevron-r {
    font-size: 2rem;
    right: 3px;
  }
  .chevron-l {
    font-size: 2rem;
    left: 3px;
  }
  .contact-background-two {
    background-position-x: -300px;
    margin-top: 12px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media (max-width: 416px) {
  .gallery h2 {
    font-size: 2.5rem;
  }
  nav .titles {
    margin-right: 74px;
    margin-left: 0;
  }
  .titles-contact-page {
    font-size: 1.8rem;
  }
  .nav .titles {
    margin-right: 54px;
  }
  .about-content h2 {
    font-size: 1.4rem;
    padding-top: 43px;
  }
  .about-content p {
    font-size: 0.9rem;
    text-align: center;
  }
  .contact-child-two {
    margin-left: 58px;
  }
  .contact-child-two .phone-number {
    font-size: 1.8rem;
  }
  .blog-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 30px 0 20px 0;
  }
  .blog-profile {
    width: 26%;
  }
  .blog-profile-title {
    font-size: 0.8rem;
  }
  .category {
    margin: 18px 0 18px 0;
  }
  .island {
    background-position-x: -432px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .chevron-r,
  .chevron-l {
    font-size: 1.7rem;
  }
  .surfer {
    background-position-x: -653px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contact-background-two {
    background-position-x: -386px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
